.typing-challenge-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  /* border: 1px solid red; */
  /* color: red; */
}

.details-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.typewriter-container {
  display: flex;
  flex-grow: 1;
}
