:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

.main-container {
  /* border: 1px solid red; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-box {
  margin-top: 5rem;
  /* margin-left: -5%; */
  font-size: 15px;
}

.search-box input {
  width: 300px;
  height: 40px;
  font-size: inherit;
  padding-left: 10px;
}

.search-box button {
  height: 40px;
  width: 5rem;
  margin-left: 1rem;
  font-size: inherit;
}

.result-list p {
  margin: 20px;
  font-size: 25px;
  text-align: center;
}