@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700&display=swap');

* {
  font-family: 'Roboto Mono', monospace;
  color: rgb(27, 27, 27);
}

.logo {
  height: 250px;
  text-align: center;
}

.homepage-container {
  /* border: 1px solid red; */
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homepage {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subheading {
  font-size: 20px;
}

.header {
  display: flex;
  justify-content: center;
  position: relative;
}

.closebtn {
  position: absolute;
  right: 0;
  top: -10px;
  font-size: 32px;
}

.text {
  text-align: center;
  font-size: 16px;
}

.text>.title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

.radio-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* border: 1px solid red; */
}

.application-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: rgb(206, 206, 206);
}

.application-page-container>h1 {
  font-size: 32px;
  margin: 10px;
}

.form-group {
  /* border: 1px solid red; */
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-container {
  /* border: 1px solid red; */
  min-width: 600px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.name-error {
  margin-left: -150px;
}

.eft-ref {

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

input.w-24:nth-child(1),
input.form-control:nth-child(2),
input.form-control:nth-child(3) {
  font-size: 13px;
  text-align: center;
}